@model SaleTheaterTickets.Models.RegisterViewModel

<div class="row">
    <div class="col-md-3">
        <img src="~/images/registro1.jpg" alt="Registrar usuário" />
    </div>
    <div class="col-md-8">
        <h4>Registrar usuário</h4>
        <form asp-controller="Account" asp-action="Register" method="post" class="form-horizontal" role="form">
            <hr />

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control col-md-5" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <p class="form-inline">
                            <input asp-for="Password" class="form-control col-md-5" type="password" id="password" />&nbsp;<input type="button" id="showPassword" value="Mostrar" class="btn btn-sm btn-secondary />
                        </p>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="control-label"></label>
                        <p class="form-inline">
                            <input asp-for="ConfirmPassword" class="form-control col-md-5" type="password" id="confirmPassword" />&nbsp;<input type="button" id="showConfirmPassword" value="Mostrar" class="btn btn-sm btn-secondary />
                        </p>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <strong class="text-danger">@Html.ValidationSummary()</strong>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group pull-right">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-success" value="Registrar" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script src="~/js/Views/Account/Register.js">
    </script>
}