@model RegisterViewModel
<table>
    <tr>
        <td><img src="~/images/registro1.jpg" alt="Registrar Usuário" /></td>
        <td>
            <div class="row loginForm">
                <div class="col-md-12">
                    <h4>Registrar usuário</h4>
                    <form asp-controller="Account" asp-action="Register" method="post" class="form-horizontal" role="form">
                        <hr />
                        <strong class="text-danger">@Html.ValidationSummary(true)</strong>
                        <div class="form-group">
                            <label asp-for="Email" class="col-md-2 control-label"></label>
                            <div class="col-md-12">
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="col-md-2 control-label"></label>
                            <div class="col-md-12">
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
                            <div class="col-md-12">
                                <input asp-for="ConfirmPassword" class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group pull-right formPullRightButton">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" class="btn btn-success " value="Registrar" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </td>
    </tr>
</table>
