<div class="container">
    <img src="~/images/adminarea.jpg" alt="Área de administração" />
    <div class="jumbotron">
        <p>
            <h2>Esta é a área do Administrador</h2>
        </p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Voltar a página de compra</a>
</div>