<h1></h1>
<hr />
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        @if (ViewBag.Error != null)
        {
            <h2 class="display-4 text-danger">@ViewBag.Error</h2>
        }
    </div>
    <div class="container">
        @if (ViewBag.SendingResult != null)
        {
            <h2 class="display-4 text-success">@ViewBag.SendingResult</h2>
        }
    </div>

</div>