@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Admin" asp-controller="Account" asp-action="Logout" id="logoutForm">
        <a class="nav-link text-light" href="javascript:document.getElementById('logoutForm').submit()" style="color:white">LogOff</a>
    </form>
}